@{
    ViewData[ViewResourcesHRV.Naslov] = ViewNaslovi.Login;
}

<div class="login-container">
    <div class="login-details">
        <div class="login-form">
            <img class="login-img-logo" src="" alt="@ViewResourcesHRV.Login_LogoAltTekst" title="@ViewResourcesHRV.Login_Dobrodosli" />
            <h2 class="sign-up">@ViewResourcesHRV.Prijava</h2>
            <label class="login-welcome">@ViewResourcesHRV.Login_PrijaviteSe</label>
            <div class="login-other">
                <button class="btn-other">
                    <img class="other-logo" src="~/img/google-logo.png" alt="@ViewResourcesHRV.Login_GoogleLogo" />
                    @ViewResourcesHRV.Login_GooglePrijava
                </button>
                <button class="btn-other">
                    <img class="other-logo" src="~/img/apple-logo.png" alt="@ViewResourcesHRV.Login_AppleLogo" />
                    @ViewResourcesHRV.Login_ApplePrijava
                </button>
            </div>
            <div class="login-data">
                <label class="login-data-label">
                    @ViewResourcesHRV.KorisnickoIme
                </label>
                <input type="text" class="login-textbox" placeholder="@ViewResourcesHRV.KorisnickoIme_Placeholder"/>
                <label class="login-data-label">
                    @ViewResourcesHRV.Lozinka
                </label>
                <input type="text" class="login-textbox" placeholder="@ViewResourcesHRV.Lozinka_Placeholder"/>
                <div class="login-politika">
                    <input type="checkbox" id="chbSuglasnostPrivatnosti" class="politika-checkbox" />
                    <label for="chbSuglasnostPrivatnosti" class="politika-textbox">@ViewResourcesHRV.Login_SuglasnostPrivatnosti</label>
                </div>
            </div>
            <div class="login-footer">
                <button class="login-btn">
                    @ViewResourcesHRV.Prijava
                </button>
            </div>
        </div>
    </div>
    <div class="login-details">
        <img class="login-img" src="~/img/login-img.jpg" />
     </div>
</div>

<style>
    body
    {
        background-color: #deebcb;
    }

    div.login-container {

     /* Rad sa starijim preglednicima koji ne podržavaju flexbox: */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

     /* Postavljanje širine i visine u odnosu na BODY: */
        width:60%;
        height:80%;

     /* Najmoderniji pristup: Flexbox layout model */
        background-color:white;
        display: flex;
        align-items: center;     /* Centriranje sadržaja vertikalno   */
        justify-content: center; /* Centriranje sadržaja horizontalno */
        border-radius: 25px;     /* Dodavanje zaobljenih rubova       */
    }

    div.login-details
    {
        flex: 1; /* Oznaka da se jednako dijeli prostor između svih child elemenata */
        height: 100%;
        border-radius: 50px;
    }

    /* Stilizacija DIV-a za unos LOGIN detalja (lijevo područje): */
    div.login-details:first-child
    {
        background-color:white;

        /* Centriranje svih child elemenata DIV-a uz pomoć flexboxa */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.login-form
    {
        width: 80%;
        height: 80%;
        border-radius: 30px;
        background-color: white;

        /* Centriranje child elemenata horizontalno na sredinu: */
        display: flex;
        align-items: center;
        justify-content: normal;

        /* Prikaz child elemenata jedan ispod drugog: */
        flex-direction: column;
        gap: 5px;
    }

    img.login-img-logo
    {
        margin-top:0px;
        height:50px;
        width:50px;
        background-color:white;
    }

    img.login-img-logo[src=""]
    {
        visibility: hidden;
    }

    h2.sign-up
    {
        font-family: Britannic;
        font-size: 280%;
        line-height: 1.2;
        color: #404040;
        background-color: #deebcb;
        padding-top: 2px;
        padding-bottom: 2px;
        width:82%;
        border-radius:20px;
        text-align: center;
    }

    label.login-welcome
    {
        font-family: Calibri;
        font-size: 80%;
        color: #737373;
    }

    div.login-other
    {
        width: 100%;
        height: 8%;
        margin-top:10px;
        background-color: white;

        /* Element služi kao container za dvije slike koje se prikazuju jedna pored druge */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    button.btn-other
    {
        background-color:white;
        border-radius: 18px;
        border: 1px solid #bdbdbd;
        font-family: Calibri;
        font-size: 100%;
        color: #404040;
        width:40%;
        height: 85%;

        display:flex;
        align-items:center;
        justify-content: center;
    }

    img.other-logo
    {
        max-width:100%; /* Osiguranje da slika ne premašuje širinu roditeljskog DIV elementa */
        height: auto; /* Visina slike će se automatski prilagoditi kako bi zadržala originalan omjer */
        width:10%;
        padding-right:5px;
    }

    div.login-data
    {
        width:82%;
        height:40%;
        background-color:white;
        margin-top:25px;

        /* DIV služi kao container za elemente za unos podataka */
        display: flex;
        justify-content: normal;
        align-items: normal;
        flex-direction: column;
        gap:10px;
    }

    label.login-data-label
    {
        font-family: Calibri;
        font-size: 100%;
        font-weight: bold;
        color: #404040;
        margin-top:10px;
        width:100%;
        height:10%;
    }

    input[type="text"].login-textbox {
        height:20%;
        width:100%;
        border-radius: 18px;
        border: 1px solid #bdbdbd;
        font-family: Calibri;
        font-size:90%;
        margin-top:-5px;
        padding:15px; /* Pomicanje mjesta odakle korisnik kreće unositi tekst unutar elementa */
    }

    input[type="text"].login-textbox:focus
    {
        outline:none;
        background-color: #f0f8f5;
    }

    div.login-politika
    {
        width:100%;
        height: 20px;
        margin-top:5px;
        background-color:white;

        display:flex;
        flex-direction:row;
        justify-content: normal;
        align-items: center;
    }

    label.politika-textbox
    {
        font-size:80%;
        font-family: Calibri;
        color: #737373;
        padding-left:3px;
    }

    div.login-footer
    {
        margin-top:-10px;
        width:100%;
        height:50px;
        background-color:white;

        display:flex;
        justify-content: center;
        align-items: normal;
        flex-direction: row;
    }

    button.login-btn
    {
        height: 40px;
        width: 150px;
        color: #404040;
        background-color: #deebcb;
        border-radius: 18px;
        border: 1px solid #bdbdbd;
        font-family: Calibri;
        font-weight: normal;
        font-size: 100%;
    }

    /* Stilizacija DIV-a za LOGIN sliku (desno područje): */
    div.login-details:last-child
    {
        background-color:white;
    }

    img.login-img
    {
        max-width: 100%; /* Osiguranje da slika ne premašuje širinu roditeljskog DIV elementa */
        height: auto;    /* Visina slike će se automatski prilagoditi kako bi zadržala originalan omjer */
        padding: 15px;
        border-radius: 30px;
    }
</style>